@{
    ViewBag.Title = "About";
}

@Scripts.Render("http://code.jquery.com/jquery-1.10.2.js")
@Scripts.Render("http://code.jquery.com/ui/1.11.4/jquery-ui.js")
@Styles.Render("http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css")
@Scripts.Render("~/Scripts/draggable.js")
@Styles.Render("~/Content/draggable.css")




<h3>Constrain movement along an axis:</h3>


<div id="wrapper" class="row col-xs-6 col-xs-offset-3" style="outline: 1px solid green; padding: 0; position: relative; min-height:1000px; ">

    <div id="item0" class="item" style="display: inline-block; position: absolute !important">
        <img id="item-img0" class="item-img" src="http://ecx.images-amazon.com/images/I/91DHR4fyOcL._UY445_.jpg" />
    </div>

    <div id="item1" class="item" style="display: inline-block; position: absolute !important">
        <img id="item-img1" class="item-img" src="http://ecx.images-amazon.com/images/I/71oNmvGHoZL._UY879_.jpg" />
    </div>

    <div id="item2" class="item" style="display: inline-block; position: absolute !important">
        <img id="item-img2" class="item-img" src="http://ecx.images-amazon.com/images/I/91DHR4fyOcL._UY445_.jpg" />
    </div>

    <div id="item3" class="item" style="display: inline-block; position: absolute !important">
        <img id="item-img3" class="item-img" src="http://ecx.images-amazon.com/images/I/71oNmvGHoZL._UY879_.jpg" />
    </div>


</div>

<div class="container">
    <br />
    <br />
    <a class="btn btn-danger col-md-12" id="click"> Coordinates </a>
</div>
