@{
    ViewBag.Title = "About";
}

@Scripts.Render("http://code.jquery.com/jquery-1.10.2.js")
@Scripts.Render("http://code.jquery.com/ui/1.11.4/jquery-ui.js")
@Styles.Render("http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css")
@Scripts.Render("~/Scripts/draggable.js")
@Styles.Render("~/Content/draggable.css")




<h3>Constrain movement along an axis:</h3>


<div id="containment-wrapper" class="row col-xs-6 col-xs-offset-3" style="outline: 1px solid green; padding: 0; position: relative; min-height:500px">

    @*<div id="item1" style="display: inline-block; ">
        <img id="item1-img" class="draggable ui-widget-content" style="width: 250px; height: 250px; " src="http://ecx.images-amazon.com/images/I/71U2HBp7SZL._UY445_.jpg"  />
    </div>*@

    <div id="rnd" style="display: inline-block;">
        <img id="img_rnd"  width: 570px; height: 500px src="http://ecx.images-amazon.com/images/I/91DHR4fyOcL._UY445_.jpg" />
    </div>
</div>

<div class="row"></div>

<a class="btn btn-danger" id="click"> Coordinates </a>

